.video-section {
    margin: 0 auto;
    max-width: var(--max-content-width);
}

.video-section-mobile {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-section h2 {
    padding: 3rem 0rem;
    padding-top: 6rem;
    text-align: center;
    font-size: 3rem;
    line-height: 1;
    letter-spacing: -0.05em;
    border: var(--homepage-guides);
    border-top: none;
}

.video-section-mobile h2 {
    max-width: 480px;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem;
    line-height: 1;
    letter-spacing: -0.05em;
}

.video-section .tabs {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    background-color: var(--background-color);
}

.video-section-mobile .tabs { 
    width: 100%;
    max-width: 480px;
    display: flex;
    justify-content: space-between;
    background-color: var(--background-color);
}

.video-section .tab,
.video-section-mobile .tab {
    position: relative;
    min-height: 60px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: var(--subtext-color);
    background-color: transparent;
    border-radius: calc(0.5rem - 2px);
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}

.video-section .tab {
    border-left: var(--homepage-guides);
    border-bottom: var(--homepage-guides);
    border-top: none;
    border-right: none;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.video-section-mobile .tab {
    border: 1px solid var(--border-color);
}

.video-section .tab:last-of-type {
    border-right: var(--homepage-guides);
}

.video-section .tab.active,
.video-section-mobile .tab.active {
    color: var(--action-color-dark);
    background-color: var(--background-color);
    box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px -1px rgb(0 0 0 / 0.1);
    cursor: default;
}

.video-section .tab.active span,
.video-section-mobile .tab.active span {
    z-index: 4;
}

.video-section .tab:not(.active):hover,
.video-section-mobile .tab:not(.active):hover {
    background-color: var(--hover-color);
}

.tab.active .progressbar {
    z-index: 2;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    /* background-color: transparent; */
    background: linear-gradient(90deg,oklch(63.32% .24 31.68 /.2) 0%,oklch(69.02% .277 332.77 /.2) 50%,oklch(53.18% .28 296.97 /.2) 100%)
}

.progressbar-done {
    position: absolute;
    right: 0;
    z-index: 3;
    height: 100%;
    background-color: var(--background-color);
    /* background: linear-gradient(90deg,oklch(63.32% .24 31.68) 0%,oklch(69.02% .277 332.77) 50%,oklch(53.18% .28 296.97) 60%) */
    /* background: radial-gradient( circle at center bottom, color-mix(in srgb, oklch(69.02% .277 332.77) 10%, white 80%) 0%, white 80% ); */
}

.video-section .video-section-content {
    border: var(--homepage-guides);
    border-top: none;
}

.video-section-mobile .video-section-content {
    max-width: 480px;
}

.video-section-text,
.video-section-video-wrapper {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.video-section .video-section-text,
.video-section .video-section-video-wrapper {
    padding: 2rem;
}

.video-section-video-wrapper {
    align-items: center;
}

.video-section-mobile .image-section-image-wrapper {
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    overflow: hidden;
}

.video-section-text h4 {
    letter-spacing: -0.025em;
    line-height: 1;
    font-size: 2rem;
}

.video-section-text p {
    font-size: 1.25rem;
    line-height: 1.625;
}

.video-section-text p:first-of-type {
    margin-top: 1rem;
}