/* general expandable-side-menu styling */

.expandable-side-menu {
    position: fixed;
    top: 50%;
    transform: translate(calc(-100% + 8px),-50%);
    transition: transform 350ms;
}

.expandable-side-menu.expanded {
    transform: translate(0,-50%);
}

.expandable-side-menu-trigger-wrapper {
    position: absolute;
    top: 0;
    right: -50px;
}

.expandable-side-menu-trigger {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.expandable-side-menu .expandable-side-menu-trigger svg {
    transition: transform 1000ms;
}

.expandable-side-menu.expanded .expandable-side-menu-trigger svg {
    transform: rotate(180deg);
    transition: transform 1000ms;
}



/* VisualizationStep styling */

.main-visualization .expandable-side-menu {
    width: max(250px, 50vw);
    background-color: var(--background-color);
}

.main-visualization .expandable-side-menu-trigger-wrapper {
    background-color: #e5e7eb;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.main-visualization .inverted-corner {
    position: absolute;
    width: .5em;
    height: 1em;
    top: 50px;
    right: -.5em;
    box-shadow: 0 -.5em 0 0 #e5e7eb;
    background-color: transparent;
    border-top-left-radius: .5em;
}

.main-visualization .expandable-side-menu-trigger {
    border: none;
    right: -50px;
    width: 50px;
    height: 50px;
    color: var(--action-color-dark);
}

.main-visualization .expandable-side-menu-trigger svg {
    width: 25px;
    height: 25px;
}

.main-visualization .expandable-side-menu .accordion-trigger {
    padding: var(--accordion-paddingY-mobile) var(--accordion-paddingX-mobile);
    border: 1px solid #e5e7eb;
    color: var(--action-color-dark);
}

.main-visualization .expandable-side-menu,
.main-visualization .expandable-side-menu .accordion:last-of-type .accordion-trigger:not(.expanded),
.main-visualization .expandable-side-menu .accordion:last-of-type .accordion-content-wrapper {
    border-bottom-right-radius: var(--border-radius);
}

.main-visualization .expandable-side-menu .accordion-content-wrapper {
    border: 1px solid #e5e7eb;
    border-top-width: 0;
    border-bottom-width: 0;
}

.main-visualization .expandable-side-menu .accordion-content {
    padding: var(--accordion-paddingY-mobile) var(--accordion-paddingX-mobile);
    gap: .5em;
}

.main-visualization .expandable-side-menu .accordion-content label {
    color: var(--action-color-dark);
}

.main-visualization .expandable-side-menu .accordion-content input[type=number] {
    padding: var(--button-paddingY-mobile) var(--button-paddingX-mobile);
    color: var(--action-color-dark);
}

.main-visualization .expandable-side-menu .accordion-content .dropdown-button,
.main-visualization .expandable-side-menu .accordion-content .dropdown-menu {
    color: var(--action-color-dark);
}

.main-visualization .expandable-side-menu .accordion-content .custom-textarea-wrapper {
    padding-top: var(--button-paddingY-mobile);
    padding-bottom: var(--button-paddingY-mobile);
}

.main-visualization .expandable-side-menu .accordion-content .custom-textarea {
    padding-right: var(--button-paddingX-mobile);
    padding-left: var(--button-paddingX-mobile);
    color: var(--action-color-dark);
}

.main-visualization .chart-settings .accordion-trigger {
    padding: var(--accordion-paddingY) var(--accordion-paddingX);
    border: 1px solid #e5e7eb;
    color: #6b7280;
}

.main-visualization .chart-settings .accordion-content {
    padding: var(--accordion-paddingY) var(--accordion-paddingX);
}