/* general expandable-side-menu styling */

.expandable-side-menu {
    position: fixed;
    top: 50vh;
    transform: translate(calc(-100% + 8px),-50%);
    transition: transform 350ms;
    z-index: 5;
}

.expandable-side-menu.expanded {
    transform: translate(0,-50%);
}

.expandable-side-menu-trigger-wrapper {
    position: absolute;
    top: 0;
    right: -50px;
}

.expandable-side-menu-trigger {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.expandable-side-menu .expandable-side-menu-trigger svg {
    transition: transform 1000ms;
}

.expandable-side-menu.expanded .expandable-side-menu-trigger svg {
    transform: rotate(180deg);
    transition: transform 1000ms;
}



/* VisualizationStep styling */
.main-visualization {
    margin: calc(var(--header-height) + var(--element-gap) * 2) auto calc(var(--navigation-wrapper-height) + var(--element-gap) * 2) auto;
}

.main-visualization svg {
    display: block;
}

.chart-settings {
    width: 400px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    align-items: center;
    z-index: 10;
}

.draggable-wrapper {
    position: relative;
}

.draggable {
    position: relative;
    padding: 1.25rem;
    background-color: var(--action-color-light);
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
    text-align: center;
    cursor: grab;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.draggable-icon {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 1.25em;
	top: 0;
	bottom: 0;
    margin: auto;
}

.draggable-icon svg {
    width: 30px;
    height: 30px;
}

.draggable-close {
    position: absolute;
    width: 61px;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
    margin: auto;
    background-color: rgb(234, 55, 55);
    color: white;
    border: none;
    border-top-right-radius: var(--border-radius);
}

.draggable-close::after, .draggable-close::before {
    position: absolute;
    left: 50%;
    top: 50%;
    right: calc(1.25em - 5px);
    height: 30px;
    width: 2px;
    content: ' ';
    background-color: white;
}
.draggable-close::before {
    transform: translate(-50%, -50%) rotate(45deg);
}
.draggable-close::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.draggable-close:hover::before,
.draggable-close:hover::after {
    background-color: #333;
}

.charts-settings-divider {
    width: 100%;
    padding: 1.25rem;
    display: flex;
    align-items: center;
}

.charts-settings-divider-line {
    margin-left: .5rem;
    width: 100%;
    height: 1px;
    background-color: var(--border-color);
}

.chart-settings-item {
    padding: 1.25rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.chart-options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5em;
}

.chart-options-mobile {
    padding: 1.25rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.chart-options-mobile .btn {
    padding: var(--button-paddingY-mobile) var(--button-paddingX-mobile);
    color: var(--action-color-dark);
}

.chart-options-mobile .btn svg {
    width: 25px;
    height: 25px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=range] {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;  
    background: var(--border-color);
    outline: none;
    opacity: 0.7;
}

input[type=range]:focus {
    outline: 2px solid var(--action-color);
}
  
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: var(--action-color);
    cursor: pointer;
}
  
input[type=range]::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--action-color);
    cursor: pointer;
}

.main-visualization .expandable-side-menu {
    width: max(250px, 50vw);
    min-height: min(758px, 100vh);
    background-color: var(--background-color);
    border-bottom-right-radius: var(--border-radius);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.main-visualization .expandable-side-menu .expandable-side-menu-content {
    height: 100%;
    overflow: hidden;
}

.main-visualization .expandable-side-menu.expanded .expandable-side-menu-content {
    overflow-y: auto;
    scrollbar-width: thin;
}

.main-visualization .expandable-side-menu .expandable-side-menu-content-header {
    padding: 1.25rem;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--border-color);
}

.main-visualization .expandable-side-menu-trigger-wrapper {
    background-color: var(--background-color);
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    box-shadow: rgba(0, 0, 0, 0.35) 8px 1px 15px -5px;
}

.main-visualization .inverted-corner {
    position: absolute;
    width: .5em;
    height: 1em;
    top: 50px;
    right: -.5em;
    box-shadow: 0 -.5em 0 0 var(--background-color);
    background-color: transparent;
    border-top-left-radius: .5em;
}

.main-visualization .expandable-side-menu-trigger {
    border: none;
    right: -50px;
    width: 50px;
    height: 50px;
    color: var(--action-color-dark);
    background-color: inherit;
    cursor: pointer;
}

.main-visualization .expandable-side-menu-trigger svg {
    width: 25px;
    height: 25px;
    background-color: inherit;
}

.main-visualization .expandable-side-menu .side-menu-link {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: inherit;
    font-family: inherit;
    font-style: inherit;
    cursor: pointer;
    padding: 1.25rem;
    border: 1px solid var(--background-color);
    background-color: white;
    color: var(--action-color-dark);
}

.main-visualization .expandable-side-menu .side-menu-link svg {
    height: 1.25rem;
    width: 1.25rem;
}

.main-visualization .expandable-side-menu .side-menu-link:last-of-type {
    border-bottom-right-radius: var(--border-radius);
}

.main-visualization .expandable-side-menu .side-menu-content {
    display: flex;
    flex-direction: column;
}

.main-visualization .expandable-side-menu .side-menu-content .side-menu-content-header {
    padding: 1.25rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
}

.side-menu-content-header p {
    flex-grow: 1;
    text-align: center;
}

.main-visualization .expandable-side-menu .side-menu-back-btn {
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: var(--action-color-dark);
    cursor: pointer;
}

.main-visualization .expandable-side-menu .side-menu-back-btn svg {
    width: 25px;
    height: 25px;
    margin: 0 auto;
}

.main-visualization .accordion:last-of-type .accordion-trigger:not(.expanded),
.main-visualization .accordion:last-of-type .accordion-content-wrapper {
    border-bottom-right-radius: var(--border-radius);
}

.main-visualization .accordion:last-of-type .accordion-trigger:not(.expanded) {
    border-bottom-left-radius: var(--border-radius);
}

.main-visualization .chart-settings .accordion-trigger {
    padding: var(--accordion-paddingY) var(--accordion-paddingX);
    border: 1px solid #e5e7eb;
    color: #6b7280;
}

.main-visualization .chart-settings .accordion-content {
    padding: var(--accordion-paddingY) var(--accordion-paddingX);
}

@media screen and ( max-height: 758px ) {
    .expandable-side-menu {
        top: 0;
        height: 100%;
        transform: translate(calc(-100% + 8px),0);
    }
    
    .expandable-side-menu.expanded {
        transform: translate(0,0);
    }
}

/* .main-visualization .expandable-side-menu .accordion-trigger {
    padding: var(--accordion-paddingY-mobile) var(--accordion-paddingX-mobile);
    border: 1px solid #e5e7eb;
    color: var(--action-color-dark);
}

.main-visualization .expandable-side-menu,
.main-visualization .accordion:last-of-type .accordion-trigger:not(.expanded),
.main-visualization .accordion:last-of-type .accordion-content-wrapper {
    border-bottom-right-radius: var(--border-radius);
}

.main-visualization .accordion:last-of-type .accordion-trigger:not(.expanded) {
    border-bottom-left-radius: var(--border-radius);
}

.main-visualization .expandable-side-menu .accordion-content-wrapper {
    border: 1px solid #e5e7eb;
    border-top-width: 0;
    border-bottom-width: 0;
}

.main-visualization .expandable-side-menu .accordion-content {
    padding: var(--accordion-paddingY-mobile) var(--accordion-paddingX-mobile);
    gap: .5em;
}

.main-visualization .expandable-side-menu .accordion-content label {
    color: var(--action-color-dark);
}

.main-visualization .expandable-side-menu .accordion-content input[type=number] {
    padding: var(--button-paddingY-mobile) var(--button-paddingX-mobile);
    color: var(--action-color-dark);
}

.main-visualization .expandable-side-menu .accordion-content .dropdown-button,
.main-visualization .expandable-side-menu .accordion-content .dropdown-menu {
    color: var(--action-color-dark);
}

.main-visualization .expandable-side-menu .accordion-content .custom-textarea-wrapper {
    padding-top: var(--button-paddingY-mobile);
    padding-bottom: var(--button-paddingY-mobile);
}

.main-visualization .expandable-side-menu .accordion-content .custom-textarea {
    padding-right: var(--button-paddingX-mobile);
    padding-left: var(--button-paddingX-mobile);
    color: var(--action-color-dark);
}

.main-visualization .chart-settings .accordion-trigger {
    padding: var(--accordion-paddingY) var(--accordion-paddingX);
    border: 1px solid #e5e7eb;
    color: #6b7280;
}

.main-visualization .chart-settings .accordion-content {
    padding: var(--accordion-paddingY) var(--accordion-paddingX);
} */