/* general expandable-side-menu styling */

.expandable-side-menu {
    position: fixed;
    top: 50%;
    transform: translate(calc(-100% + 8px),-50%);
    transition: transform 350ms;
}

.expandable-side-menu.expanded {
    transform: translate(0,-50%);
}

.expandable-side-menu-trigger {
    position: absolute;
    top: 0;
    right: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.expandable-side-menu .expandable-side-menu-trigger svg {
    transition: transform 1500ms;
}

.expandable-side-menu.expanded .expandable-side-menu-trigger svg {
    transform: rotate(180deg);
    transition: transform 1500ms;
}



/* VisualizationStep styling */

.main-visualization .expandable-side-menu {
    width: max(300px, 50vw);
    background-color: var(--background-color);
}

.main-visualization .expandable-side-menu-trigger {
    border: none;
    right: -50px;
    width: 50px;
    height: 50px;
}

.main-visualization .expandable-side-menu-trigger svg {
    width: 25px;
    height: 25px;
}

.main-visualization .expandable-side-menu .accordion-trigger {
    padding: var(--accordion-paddingY-mobile) var(--accordion-paddingX-mobile);
    border: 1px solid #e5e7eb;
}

.main-visualization .expandable-side-menu .accordion-content-wrapper {
    border: 1px solid #e5e7eb;
    border-top-width: 0;
    border-bottom-width: 0;
}

.main-visualization .expandable-side-menu .accordion-content {
    padding: var(--accordion-paddingY-mobile) var(--accordion-paddingX-mobile);
}

.main-visualization .chart-settings .accordion-trigger {
    padding: var(--accordion-paddingY) var(--accordion-paddingX);
    border: 1px solid #e5e7eb;
    color: #6b7280;
}

.main-visualization .chart-settings .accordion-content {
    padding: var(--accordion-paddingY) var(--accordion-paddingX);
}