:root {
    --action-color: #004a8f;  /* #4a154b; */
    --action-color-light: #d2dce6;  /* #f3e7f3; */
    --action-color-dark: #002446;  /* #753076; */
    --subtext-color: #425466;
    --border-radius: .5em;
    --border-color: rgb(209,213,219); /* rgb(197, 197, 197) */
    --hover-color: rgb(249,250,251);
    --background-color: #fff;
    --min-page-width: 320px;
    --header-height: 130px;
    --header-height-mobile: 100px;
    --element-gap: 10px;
    --navigation-wrapper-height: 100px;
    --navigation-wrapper-height-mobile: 70px;
    --paddingX: 50px;
    --paddingY: 30px;
    --paddingX-mobile: 30px;
    --paddingY-mobile: 30px;
    --button-paddingX: 1rem;
    --button-paddingY: .75rem;
    --button-paddingX-mobile: .75rem;
    --button-paddingY-mobile: .5rem;
    --accordion-paddingY: 1rem;
    --accordion-paddingX: 1.25rem;
    --accordion-paddingY-mobile: .5rem;
    --accordion-paddingX-mobile: .75rem;
}

*, 
*::after, 
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    overflow-y: scroll;
}

body {
    position: relative;
    margin: 0 auto;
    /* max-width: 1920px; */
    min-width: var(--min-page-width);
    min-height: 100vh;
    display: flex;
    background-color: lightgray;
    font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 16px;
    line-height: 24px;  /* 1.5555556 */
    color: var(--subtext-color);
}

br {
    display: block;
    margin: 2px 0;
}

#root {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.full {
    width: 100%;
}

.fixed {
    position: fixed !important;
}

.flex {
    display: flex;
}

.text-center {
    text-align: center;
}

.divider-1 {
    height: 0.25rem;
}

.divider-2 {
    height: 0.5rem;
}

.divider-4 {
    height: 1rem;
}

.main-upload, .main-data {
    /* min-width: 600px; */
    margin: calc(var(--header-height) + var(--element-gap) * 2) auto calc(var(--navigation-wrapper-height) + var(--element-gap) * 2) auto;
    /* margin: 0 auto; */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* background-color: var(--background-color); */
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
}

.main-data {
    padding: var(--paddingY) var(--paddingX);
    background-color: var(--background-color);
}

.navigation-wrapper {
    position: absolute;
    bottom: 0;
    left: 50vw;
    margin: 0 auto;
    padding: 0 var(--paddingX);
    width: 100%;
    height: var(--navigation-wrapper-height);
    min-width: var(--min-page-width);
    max-width: 600px;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translate(-50%,0);
    z-index: 4;
}

.btn, 
input[type=number] {
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    color: #111827;
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.25rem;
    padding: var(--button-paddingY) var(--button-paddingX);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.btn:hover, input[type=number]:hover {
    background-color: var(--hover-color);
}

.btn {
    text-align: center;
    text-decoration: none #D1D5DB solid;
    text-decoration-thickness: auto;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

input[type=number] {
    width: 100%;
    appearance: textfield;
    -moz-appearance: textfield;
}

.btn:focus {
    outline: 2px solid var(--action-color);
}

.btn:focus-visible {
    box-shadow: none;
}

.next-btn {
    background-color: var(--action-color);
    color: var(--background-color);
}

.next-btn:hover {
    background-color: var(--action-color-dark);
}

.disabled-btn {
    opacity: 0.6;
    cursor: not-allowed;
}



@media only screen and (max-width: 500px) {
    .btn {
        padding: var(--button-paddingY-mobile) var(--button-paddingX-mobile);
    }

    .navigation-wrapper {
        height: var(--navigation-wrapper-height-mobile);
    }
}