.expandable-side-menu {
    position: fixed;
    top: 50%;
    transform: translate(calc(-100% + 8px),-50%);
    transition: transform 350ms;
}

.expandable-side-menu.expanded {
    transform: translate(0,-50%);
}

.expandable-side-menu-trigger {
    position: absolute;
    top: 0;
    right: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.expandable-side-menu .expandable-side-menu-trigger svg {
    transition: transform 1500ms;
}

.expandable-side-menu.expanded .expandable-side-menu-trigger svg {
    transform: rotate(180deg);
    transition: transform 1500ms;
}